.button {
    position: relative;

    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-family: 'Satoshi', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;

    outline: 1px solid transparent;
    border: 1px solid transparent;
    border-radius: 4px;

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &.primary {
        .bg-berry();
        color: #FDFDFD;
        
        &:hover {
            border-color: #FC2865;
        }

        &:active {
            outline: 1px solid #FC2865;
        }

        &:disabled {
            .bg-disabled();
        }
    }

    &.secondary {
        background: #FDFDFD;
        .tx-berry();
        border-color: #1E1D1F;


        &:hover {
            outline: 1px solid #FC2865;
        }

        &:active {
            outline: 2px solid #FC2865;
        }

        &:disabled {
            border: 2px solid #CACACC;
            color: #CACACC;
        }
    }
}