i {
    display: inline-block;
    background-size: cover !important;
}

@icon-names: House, ClipboardText, UsersThree, CaretRight, Placeholder, Sliders, ArrowLeft, ArrowClockwise, User, Smiley, SmileyXEyes;

.icon(@name) {
    width: 32px;
    height: 32px;
    background: url('@/assets/icons/@{name}.svg');
}

each(@icon-names, {
    .icon-@{value} {
        width: 24px;
        height: 24px;
        background: url('@/assets/icons/@{value}.svg');
    }
});