.input {
    position: relative;

    height: 48px;
    padding: 12px;

    background: #FDFDFD;
    
    border: 2px solid #000022;
    border-radius: 2px;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000022;

    transition: border-color 0.2s ease-in-out;

    &::placeholder {
        color: #CACACC;
    }

    &:focus {
        border-color: #000022;
        outline: 2px solid #FC2865;
    }
}