.tool-bar {
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;

    height: 56px;
    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #FDFDFD;
    border-top: 2px solid #000022;
}