<template>
  <div class="flex a-center j-between mb-16 pr-12">
    <p class="fs-24 fw-700">Tickets</p>

    <div>
      <i class="icon-Sliders"></i>
    </div>
  </div>

  <div class="tickets-list">
    <div
      v-for="n in 3"
      :key="n"
      class="bw-2 br-8 bc-1 py-16 px-12 shadow-md flex a-center gap-2 mb-12"
    >
      <div>
        <p class="fw-400 fs-12 tx-text lt-spacing-2 mb-8">Tag or info</p>
        <p class="fs-16 fw-500 tx-berry mb-8">
          A title line goes here and gets truncated at two lines if it’s too
          long
        </p>
        <p class="fs-14 fw-400">
          Insert text here or swap this component instance in the design panel.
        </p>
      </div>
      <router-link :to="{ name: 'ticket-detail', params: { id: 1 } }">
        <i class="icon-CaretRight shrink-0"></i>
      </router-link>
    </div>
  </div>
</template>
