<template>
  <back-nav :title="`Ticket #${id}`"></back-nav>

  <div class="flex a-center j-between mb-8">
    <p class="fw-400 fs-12 tx-text lt-spacing-2">Tag or info</p>
    <p class="fw-400 fs-12 tx-text">09.03.23</p>
  </div>
  <p class="fw-400 fw-14 tx-text mb-20">
    <span class="tx-goji fw-500"></span>
  </p>
  <p class="fs-16 fw-500 tx-berry mb-12">
    A title line goes here and gets truncated at two lines if it’s too long
  </p>
  <p class="fs-14 fw-400">
    Insert text here or swap this component instance in the design panel. Insert
    text here or swap this component instance in the design panel. Insert text
    here or swap this component instance in the design panel. Insert text here
    or swap this component instance in the design panel. Insert text here or
    swap this component instance in the design panel. Insert text here or swap
    this component instance in the design panel. Insert text here or swap this
    component instance in the design panel. Insert text here or swap this
    component instance in the design panel.
  </p>

  <div class="grid col-2 gap-4 mt-25">
    <button class="button secondary">Back</button>
    <button class="button primary">Action</button>
  </div>
</template>

<script setup lang="ts">
import BackNav from "@/components/navigation/Back.vue";

defineProps<{ id: number | string }>();
</script>
