<template>
  <dashboard-layout>
    <p class="mb-16 fs-24 fw-700">Головна сторінка</p>

    <div class="grid col-2 gap-8 mb-16">
      <div class="bw-2 br-8 bc-1 py-16 px-12 shadow-sm">
        <p class="fs-16 fw-500 mb-8">A title line goes here and gets</p>
        <p class="fs-12">Insert text here or swap this component instance.</p>
      </div>

      <div class="bw-2 br-8 bc-1 py-16 px-12 shadow-sm">
        <p class="fs-16 fw-500 mb-8">A title line goes here and gets</p>
        <p class="fs-12">Insert text here or swap this component instance.</p>
      </div>
    </div>

    <div>
      <p class="fs-20 fw-600 mb-8">Якась інформація</p>

      <div class="flex a-center j-between p-16 b-bot_only">
        <div class="flex a-center gap-4">
          <i class="icon-Placeholder"></i>
          <span>Інформація 1</span>
        </div>
        <div class="flex a-center gap-8">
          <span class="fs-12 fw-700">10</span>
          <i class="icon-CaretRight square-20"></i>
        </div>
      </div>
      <div class="flex a-center j-between p-16 b-bot_only">
        <div class="flex a-center gap-4">
          <i class="icon-Placeholder"></i>
          <span>Інформація 2</span>
        </div>
        <div class="flex a-center gap-8">
          <span class="fs-12 fw-700">1.52</span>
          <i class="icon-CaretRight square-20"></i>
        </div>
      </div>
      <div class="flex a-center j-between p-16 b-bot_only">
        <div class="flex a-center gap-4">
          <i class="icon-Placeholder"></i>
          <span>Інформація 3</span>
        </div>
        <div class="flex a-center gap-8">
          <span class="fs-12 fw-700">98</span>
          <i class="icon-CaretRight square-20"></i>
        </div>
      </div>
      <div class="flex a-center j-between p-16 b-bot_only">
        <div class="flex a-center gap-4">
          <i class="icon-Placeholder"></i>
          <span>Інформація 4</span>
        </div>
        <div class="flex a-center gap-8">
          <span class="fs-12 fw-700">101.30</span>
          <i class="icon-CaretRight square-20"></i>
        </div>
      </div>
    </div>
  </dashboard-layout>
</template>

<script setup lang="ts">
import DashboardLayout from "@/layouts/DashboardLayout.vue";
</script>
