<template>
  <dashboard-layout>
    <div class="flex a-center j-between mb-16">
      <p class="fs-24 fw-700">Office</p>
      <i class="icon-ArrowClockwise"></i>
    </div>

    <div
      v-for="user in users"
      :key="user.name"
      class="flex a-center j-between p-12 b-bot_only"
    >
      <div class="flex a-center gap-4">
        <i class="icon-User"></i>
        <span>{{ user.name }}</span>
      </div>
      <div class="flex a-center gap-8">
        <span class="fs-12 fw-700">{{ user.status }}</span>
        <i :class="`icon-${user.icon}`"></i>
      </div>
    </div>
  </dashboard-layout>
</template>

<script setup lang="ts">
import DashboardLayout from "@/layouts/DashboardLayout.vue";

const users = [
  {
    name: "Haris",
    status: "Online",
    icon: "Smiley",
  },
  {
    name: "Kostya",
    status: "Online",
    icon: "Smiley",
  },
  {
    name: "Yarik",
    status: "Offline",
    icon: "SmileyXEyes",
  },
  {
    name: "Vitaliy",
    status: "Online",
    icon: "Smiley",
  },
  {
    name: "DenQUA",
    status: "Offline",
    icon: "SmileyXEyes",
  },
  {
    name: "Vados",
    status: "Online",
    icon: "Smiley",
  },
  {
    name: "Yuri",
    status: "Online",
    icon: "Smiley",
  },
  {
    name: "Vano",
    status: "Offline",
    icon: "SmileyXEyes",
  },
];
</script>
