<template>
  <div class="header header-back">
    <div class="header-container">
      <div class="flex a-center gap-4" @click="$router.go(-1)">
        <i class="icon-ArrowLeft square-20"></i>
        <span class="fs-16 fw-500 tx-text">Back</span>
      </div>

      <div class="header-logo">
        <p class="fs-16 tx-berry fw-500">{{ title }}</p>
      </div>

      <div></div>
    </div>
  </div>
</template>

<script setup lang="ts">
defineProps<{
  back?: string;
  title: string;
}>();
</script>
