<template>
  <div class="header">
    <div class="header-container">
      <div></div>

      <div class="header-logo">
        <img src="@/assets/images/logo.png" alt="" />
      </div>

      <div></div>
    </div>
  </div>
</template>
