<template>
  <div class="tool-bar">
    <router-link :to="{ name: 'home' }">
      <i class="icon-House"></i>
    </router-link>
    <router-link :to="{ name: 'tickets-main' }">
      <i class="icon-ClipboardText"></i>
    </router-link>
    <router-link :to="{ name: 'office' }">
      <i class="icon-UsersThree"></i>
    </router-link>
  </div>
</template>
