.tx-goji {
    color: #FC2865;
}

.tx-berry {
    color: #000022;
}

.tx-text {
    color: #1E1D1F;
}

.tx-disabled {
    color: #CACACC;
}

.tx-link {
    color: #4C91ED;
}

.tx-success {
    color: #27AE60;
}

.tx-warning {
    color: #F7CB45;
}

.tx-error {
    color: #EB4242;
}

.bg-goji {
    background: #FC2865;
}

.bg-berry {
    background: #000022;
}

.bg-text {
    background: #1E1D1F;
}

.bg-disabled {
    background: #CACACC;
}

.bg-link {
    background: #4C91ED;
}

.bg-success {
    background: #27AE60;
}

.bg-warning {
    background: #F7CB45;
}

.bg-error {
    background: #EB4242;
}

