.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.shrink-0 {
    flex-shrink: 0;
}

.a-start {
    align-items: flex-start;
}

.a-center {
    align-items: center;
}

.a-end {
    align-items: flex-end;
}

.j-start {
    justify-content: flex-start;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.j-between {
    justify-content: space-between;
}

.j-around {
    justify-content: space-around;
}

.grid {
    display: grid;
}

.col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.gap-2 {
    grid-gap: 2px;
}

.gap-4 {
    grid-gap: 4px;
}

.gap-8 {
    grid-gap: 8px;
}

.gap-12 {
    grid-gap: 12px;
}

.gap-16 {
    grid-gap: 16px;
}

.gap-20 {
    grid-gap: 20px;
}

.gap-32 {
    grid-gap: 32px;
}