@import './sizing.less';
@import './spacing.less';
@import './display.less';
@import './color.less';
@import './styling.less';
@import './font.less';

.dashboard-layout {
    position: relative;
    height: 100vh;
    padding: 124px 0 96px;
    overflow: scroll;

    .layout-viewport {
        position: relative;
        padding: 20px 16px;
    }
}