.br-2 {
    border-radius: 2px;
}

.br-4 {
    border-radius: 4px;
}

.br-8 {
    border-radius: 8px;
}

.bw-1 {
    border-width: 1px;
}

.bw-2 {
    border-width: 2px;
}

.bw-4 {
    border-width: 4px;
}

.bc-1 {
    border-color: #000022;
    border-style: solid;
}

.b-bot_only {
    border-bottom-width: 1px;
    border-bottom-color: #000022;
    border-bottom-style: solid;
}

.b-top_only {
    border-top-width: 1px;
    border-top-color: #000022;
    border-top-style: solid;
}

.b-left_only {
    border-left-width: 1px;
    border-left-color: #000022;
    border-left-style: solid;
}

.b-right_only {
    border-right-width: 1px;
    border-right-color: #000022;
    border-right-style: solid;
}

.shadow-sm {
    box-shadow: 2px 2px 0px #000022;
}

.shadow-md {
    box-shadow: 3px 3px 0px #000022;
}

.shadow-lg {
    box-shadow: 6px 8px 0px #000022;
}