.header {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;

    background: #FDFDFD;
    border-bottom: 2px solid #000022;
    z-index: 1000;

    .header-container {
        height: 64px;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &.header-back {
        border: none;

        .header-container {
            height: 66px;
            padding: 0 10px;

            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .header-logo {
                justify-content: center;
                text-align: center;
            }
        }
    }
}