<template>
  <div
    class="w-100 h-100vh flex a-center j-center column gap-20"
    @click="$router.push({ name: 'login' })"
  >
    <img src="@/assets/images/splash.png" alt="" />
    <span class="fs-20 fw-500 tx-berry">Cubeback</span>
  </div>
</template>
