<template>
  <header-top></header-top>

  <div class="dashboard-layout">
    <div class="layout-viewport">
      <slot></slot>
    </div>
  </div>

  <tool-bar></tool-bar>
</template>

<script setup lang="ts">
import HeaderTop from "@/components/navigation/Header.vue";
import ToolBar from "@/components/navigation/ToolBar.vue";
</script>
