<template>
  <div>
    <p class="fs-24 fw-700 text-center mb-24">Registration</p>

    <input type="text" placeholder="Email or login" class="input w-100 mb-12" />
    <input type="text" placeholder="Password" class="input w-100 mb-20" />

    <router-link :to="{ name: 'home' }" class="button primary mb-8">
      Registration
    </router-link>

    <router-link
      :to="{ name: 'login' }"
      class="fs-16 fw-400 no-decoration tx-goji"
    >
      Login
    </router-link>
  </div>
</template>
